//
   Created by oneleaf on 15/10/8.
extends main_jade
block content
   h1 User using Jade Template
   u1
      li Name: #{uname}
      li Vehicle: #{vehicle}
      li Terrain: #{terrain}
      li Climate: #{climate}
      li Location: #{location}
